body {
    display: flex;
    height: 100vh;
    margin: auto;
    font-family: Roboto, sans-serif;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-image: url(images/fox.jpg);
    background-size: cover;
    height: 100vh;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 48, 47, 0.5);

    margin-top: 180px;
    width: 100%;
    height: 200px;
}

#fox-img {
    height: 90%;
    width: 160px;
    opacity: 1.0;
}

#fox-text {
    color: #FFFFF0;
    opacity: 1.0;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #FFFFF0;
}