@font-face {
    font-family: banner-font;
    src: url(AnkhSanctuary-nROx4.ttf);
}

body {
    display: flex;
    height: 100vh;
    width: 70%;
    position: relative;
    margin: 0;
    left:15%;
    right: 15%;
    font-family: Roboto, sans-serif;
    background-color: #383e42;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    background-image: url(images/fox.jpg);
    background-size: cover;
    height: 100vh;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 48, 47, 0.5);

    margin-top: 180px;
    width: 100%;
    height: 200px;
}

#fox-img {
    height: 90%;
    width: 160px;
    opacity: 1.0;
}

#fox-text {
    color: #FFFFF0;
    opacity: 1.0;
    font-family: banner-font;
    font-size: 4rem;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #FFFFF0;
}

.main {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.main-top,
.main-bottom {
    height: 30%;
    background-color: #F2F2F2;
}

.main-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 4rem;
    padding-right: 10rem;
    font-size: 1.75rem;
    font-weight: bold;
}

.main-mid {
    background-color: #FAFAFA;
    height: 40%;
    box-shadow: inset 0 10px 15px -15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4rem;
    padding-right: 10rem;
    gap: 20px;
}

.main-bottom {
    box-shadow: inset 0 10px 15px -15px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4rem;
    padding-right: 10rem;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#bottom-button {
    background-color: #AF7036;
    color: #FAFAFA;
    border-color: #955C27;
    border-radius: 10px;
    padding: 15px 65px;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bold;
}

.form-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.form-pair {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#mid-header {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}

label {
    font-size: 1.3rem;
}

input {
    width: 230px;
    height: 25px;
    border: #D2D2D2 solid 2px;
    border-radius: 8px;
}

input:focus {
    border: #0096FF solid 3px;
    background: #D9D9D9;
}

input:invalid {
    border: red solid 2px;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}